---
import { Icon } from "astro-icon/components"

import type { Project } from "@interfaces/interfaces.ts"

interface Props {
    project: Project
}

const { project } = Astro.props
---

<div
    class="card flex flex-col justify-between items-start bg-blue-900 text-white rounded-md min-h-[500px] lg:h-[500px] max-w-[324px] border border-transparent hover:border-white overflow-hidden z-[100] opacity-0 translate-y-20 duration-[1.5s] transition-transform ease-out"
>
    <img src={project.img.src} alt="Portada del proyecto.">
    <h1 class="lg:ml-2">{project.name}</h1>
    <p class="flex items-start w-full">
        { project.technologies.map((technology) => (
            <span class="bg-blue-500 text-sm rounded-full mx-1 px-3">
                {technology}
            </span>
        )) }
    </p>
    <p class="w-full text-justify px-4">{project.description}</p>
    <div class="flex justify-end items-center w-full px-2 mb-2">
        {  project.gitHub !== "#" && (
            <a
                class="flex justify-evenly items-center w-40 h-9 bg-black hover:translate-x-1 hover:-translate-y-1  custom-shadow rounded-full mr-2"
                type="button"
                target="_blank"
                href={project.gitHub}
            >
                Ver código
                <Icon name="github" size={20} />
            </a>
        ) }
        <a
            class="flex justify-evenly items-center w-40 h-9 bg-gray-600 hover:translate-x-1 hover:-translate-y-1 custom-shadow rounded-full"
            type="button"
            target="_blank"
            href={project.href}
        >
            Ver proyecto
            <Icon name="arrow-right" size={20} />
        </a>
    </div>
</div>

<style>
    .custom-shadow {
        @apply shadow-lg;
        box-shadow: none;
        /* transition: all .3s ease; */
    }
    
    .custom-shadow:hover {
        box-shadow: -5px 5px;
    }
</style>